@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calcular el area</h1>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <th> Base: </th>
            <td> <input type="text" id="txtNumuero1" name="numero1" class="form-control" /></td>
            </tr>
            <tr>
                <th> Altura: </th>
            <td> <input type="text" id="txtNumuero2" name="numero2" class="form-control" /></td>
            </tr>
         
            <tr>
                <th><input type="submit" name="tipos" value="Triangulo" class="btn btn-primary"/></th>
                <th><input type="submit" name="tipos" value="Rectangulo" class="btn btn-primary" /></th> 
            </tr>
            <tr>
                <th>Resultado</th>
                <td><input type="text" class="form-control" value="@ViewBag.Resultado" /> </td>
            </tr>
            
        </table>
    
    }
</div>